body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #333;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

h1 {
    margin: 5px;
    padding: 10px;
    width: 100%;
    color: red;
    font-size: 30px;
}

p{
    color: black;
    font-size: 20px;
    margin-right: 5px;
}
